@using Microsoft.AspNetCore.Components.Web
@using rcApp.Models;
@using rcApp.Services;
@inject JsonFileCocktailsService cocktailService;

<div class="container">
    <div class="row g-2">
        @foreach (var item in cocktailService.GetCocktails())
        {   <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="@item.ImagePath" alt="@item.Name" class="card-img-top">
                    <div class="card-body">
                        <h3>@item.Name</h3>
                        <h5>@item.Price</h5>
                        <h5>@item.Rating</h5>
                        <p>@item.Desc </p>
                    </div>
                    <div class="card-footer text-center">     
                        <small class="text-muted">
                            <button @onclick="(e => SelectCocktail(item.Id))"
                                data-bs-toggle="modal" data-bs-target="#cocktailModal" class="btn-primary"
                                >More Info</button>                       
                        </small> 
                    </div>
                </div>            
            </div>        
        }
    </div>
</div>

@if(selectedCocktail != null)
{
  <div class="modal fade" id="cocktailModal" tabindex="-1" role="dialog" aria-labelledby="cocktailName" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cocktailName">@selectedCocktail.Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-img" style="background-image: url('@selectedCocktail.ImagePath');">
            </div>
            <div class="card-body">
                <p class="card-text">@selectedCocktail.Desc</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
}


@code {
    Cocktail selectedCocktail;
    int selectedCocktailId;

    void SelectCocktail(int cocktailId)
    {
        selectedCocktailId = cocktailId;
        selectedCocktail = cocktailService.GetCocktails().First(x => x.Id == cocktailId);


    }

}