@page
@model IndexModel
@{
    ViewData["Title"] = "Cocktail page";
}

<div class="text-center">
    <h1 class="display-4">Cocktail Postings</h1>
    <p><a href="https://recoverycentersofamerica.com/"> Concerned about a drinking problem</a>?</p>
</div>

<div class="container">
    <div class="row g-2">
        @foreach (var item in Model.Cocktails)
        {   <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="@item.ImagePath" alt="@item.Name" class="card-img-top">
                    <div class="card-body">
                        <h3>@item.Name</h3>
                        <h5>@item.Price</h5>
                        <h5>@item.Rating</h5>
                        <p>@item.Desc
                    </div>
                    <div class="card-footer text-center">                
                        <a asp-page="/EditCocktail" asp-route-ID="@item.Id" class="btn btn-primary m-1">Edit</a>
                        <a asp-page="/DeleteCocktail" asp-route-ID="@item.Id"  class="btn btn-danger m-1">Delete</a>
                    </div>
                </div>            
            </div>        
        }
    </div>
</div>




